name: Code Issue Workflow
on:
  issues:
    types:
      - labeled
jobs:
  get-issue-info:
    if: github.event.label.name == 'code'
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: write
      pull-requests: write
    env:
      FILENAME: ${{ github.event.issue.id }}
      BODY: "${{ github.event.issue.body }} "
      PRBODY: "REVIEW CHANGES FOR #${{ github.event.issue.number }}. Closes #${{ github.event.issue.number }}"
    steps:
      - name: Read body
        run: echo 'Body ${{ github.event.issue.body }}'
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create branch
        run: |
          git checkout -b newcontent-${{env.FILENAME}}
      - name: Create file
        run:  |
          cd _solutions
          New-item -Path . -Name "${{env.FILENAME}}.md"
          $content = "${{env.BODY}}"
          $title, $description, $author, $tags, $image, $snippet = ($content -split "\n\n")[1,3,5,7,9,11]
          $title
          "---" >> ${{env.FILENAME}}.md
          "title: $title" >> ${{env.FILENAME}}.md
          "author: $author" >> ${{env.FILENAME}}.md
          "tags: [$tags]" >> ${{env.FILENAME}}.md
          "description: $description" >> ${{env.FILENAME}}.md
          "image: $image" >> ${{env.FILENAME}}.md
          "---" >> ${{env.FILENAME}}.md
          '```' >> ${{env.FILENAME}}.md
          '$snippet' >> ${{env.FILENAME}}.md
          '```' >> ${{env.FILENAME}}.md
        shell: pwsh
      - name: setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - name: stage changes
        run: git add .
      - name: commit changes
        run: |
          git commit -m "adding new file"
          git push -u origin newcontent-${{env.FILENAME}}
      - name: push new file
        run: gh pr create --title "New CODE Content Submission ${{env.FILENAME}}" --body "${{env.PRBODY}}" --base main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
